<p-toast position="top-center"></p-toast>

<ng-container *ngIf="avatarsResponse$ | async as avatarsResponse">
  <div class="avatar-manage-container">
    <div class="avatar-manage__sidebar">
      <div class="sidebar-content">
        <avatar-preview></avatar-preview>

        <button class="btn new-avatar-btn" (click)="createAvatar()">
          {{ "AVATARMANAGE.NEWAVATAR" | translate }}
        </button>
      </div>
    </div>
    <div class="avatar-manage__rightbar">
      <div class="avatar-manage__rightbar-top">
        <h3 class="current-page-report">
          {{ "AVATARMANAGE.ITEMS" | translate }} {{ first + 1 }}
          {{ "AVATARMANAGE.TO" | translate }}
          {{ first + avatarsResponse.avatars.length }}
          {{ "AVATARMANAGE.OF" | translate }} {{ avatarsResponse.total }}
          {{ "AVATARMANAGE.TOTAL" | translate }}
        </h3>

        <div class="avatar-manage__filters">
          <div class="avatar-manage__search">
            <div class="p-inputgroup">
              <input
                type="text"
                name="search"
                [(ngModel)]="keyword"
                pInputText
                placeholder="{{
                  'AVATARMANAGE.SEARCH_PLACEHOLDER' | translate
                }}"
              />
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-search"
                styleClass="p-button-warn"
                (click)="searchByKeyword()"
              ></button>
            </div>
          </div>
          <div class="avatar-manage__sorts">
            <span>{{ "AVATARMANAGE.SORT_LABEL" | translate }}</span>
            <p-dropdown
              [options]="sortOptions"
              [(ngModel)]="selectedSortOption"
              (onChange)="loadData()"
              optionLabel="name"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="avatar-list">
        <div class="avatar-cards">
          <avatar-card
            *ngFor="let avatar of avatarsResponse.avatars"
            [avatar]="avatar"
            (onDressup)="dressup($event)"
          ></avatar-card>
        </div>
        <p-paginator
          [rows]="pageSize"
          [totalRecords]="avatarsResponse.total"
          (onPageChange)="loadPage($event)"
        ></p-paginator>
      </div>
    </div>
  </div>
</ng-container>
